.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 2px solid rgb(64, 65, 64);
  border-radius: 5px;
  padding: 20px;
}

.input {
  width: 95%;
  height: 30px;
  font-size: 16px;
  padding-left: 8px;
  border-radius: 5px;
}

.label {
  font-weight: bold;
  font-size: 24px;
}

.button {
  width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #006010;
  background-color: rgb(155, 248, 158);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: darkslategrey;
  margin: 0 auto;
}

.button:hover {
  background-color: rgb(116, 249, 0);
  transform: scale(1.05);
}

.error {
  color: red;
  font-size: 12px;
}
